.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adds spacing between logo and input */
    padding: 10px 20px; /* Adjust padding to control the navbar height */
  }
  
  .logo img {
    height: 40px; /* Adjust the logo size */
  }
  
  .search-input input {
    width: 500px; /* Set input box width */
    padding: 5px 10px; /* Add padding for a better look */
    border: 1px solid #ddd; /* Add border for clarity */
    border-radius: 4px; /* Rounded corners */
    background-color: #f0f5ff;
    border: none;
    height: 40px;
  }
  .search-input input:focus{
    border: none;
  }
 
  .cart-icon {
    display: flex;
    align-items: center;
    position: relative;
    color: white;
    background-color: #2979ff;
    padding: 8px 12px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .cart-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #ff5252;
    color: white;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .cart-badge span{
    font-size: 15px;
  }
  
  .cart-text {
    margin-left: 8px;
    font-size: 16px;
    font-weight: bold;
  }
  
  i {
    font-size: 20px;
  }
  
  